body {
    background-color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

a {
    color: #F9FAF8;
}

button {
    background-color: #3882f6;
    border: none;
    color: white;
    padding: 2px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
}

.wrapper {
    margin-left: 100px;
    margin-right: 100px;
}

.header {
    background-color: #1f2937;
    padding-left: 100px;
    padding-right: 100px;
}

.topheader {
    display: flex;
    align-items: row;
    justify-content: space-between;
}

.headerlogo {
    font-size: 24px;
    color: #f9faf8;
}

.headerlinks {
    color: #F9FAF8;
    display: flex;
    align-items: row;
    justify-content: space-between;
    gap: 12px;
    font-size: 12px;
}

.extendedheader {
    display: flex;
    align-items: row;
    justify-content: space-between;
    padding-top: 100px;
    padding-bottom: 100px;
}

.extendedheaderleft {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.extendedheadertitle {
    font-size: 48px;
    font-weight: bold;
    color: #f9faf8;
}

.extendedheadertext {
    font-size: 18px;
    color: #e5e7eb;
}

.extendedheaderbutton {
    display: flex;
    width: fit-content;
    border-radius: 6px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 6px;
    padding-bottom: 6px;
}

.extendedheaderright {
    flex-grow: 1;
    display: flex;
}

.extendedheaderlogo {
    background-color: rgb(110, 115, 125);
    padding: 5px;
    width: 300px;
    height: 150px;
}

.infoblock {
    background-color: white;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.infosubject {
    font-size: 36px;
    font-weight: bold;
    color: #1f2937;
    padding-top: 50px;
    padding-bottom: 50px;
    align-items: center;
    text-align: center;
}

.infopics {
    display: flex;
    justify-content: center;
    gap: 12px;
}

.infopicwrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.infopic {
    border: 2px solid #3882f6;  
    background-color: white;
    border-radius: 12px;
    width: 120px;
}

.infopictext {
    text-align: center;
    color: grey;
    font-size: 12px;
    width: 120px;
}

.quoteblock {
    background-color: #e5e7eb;
    padding: 100px;
}

.quotetext {
    font-style: italic;
}

.quotesource {
    text-align: right;
    font-weight: bold;
    font-size: smaller;
}

.signupblock {
    background-color: #3882f6;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 100px;
    margin-right: 100px;
}

.signupleft {}

.signupsubject {}

.signuptext {}

.signupbutton {}

.footer {
    background-color: #1f2937;
    color: white;
}